<main>
	<head>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<script src="https://kit.fontawesome.com/2dc22d6664.js" crossorigin='anonymous'></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	
	</head>
	<style>
		body{
			background-color:#FFF5B8;
			font-family: 'Poppins', sans-serif;
		}
	.mydiv1{
	  border: 0px outset white;
	  border-radius: 25px;
	  background-color: #fff ;
	  position: absolute;
	  left: 17%;
	  top:14%;
	  margin-top: 40px;
	  margin-bottom: 40px;
	  margin-right: 60px;
	  margin-left: 120px;
	  padding:50px;
	  color:#000;
	}
	</style>
	</head>
	</div>
	<a href="/faculty/dashboard"> 
		<i class='fas fa-arrow-alt-circle-left' style='font-size:24px;color:black;'></i>
	</a>
	
	<h1 style="color: black; text-align: center;">Pending Bookings</h1>
	 <font size="+1">
	<div class="mydiv1">
	   <font face="Poppins"> 
			
				<% for(let i=0; i<pendingBookings.length; i++) { %>
					
					<div class="mb-2">
						<span>Booking:</span>
						<span><%= i+1 %></span>
					</div>
	
					<div class="mb-2">
							<span>Branch:</span>
							<span><%= pendingBookings[i].branch %></span>
					</div>
						
					<div class="mb-2">
							<span>Year:</span>
							<span><%= pendingBookings[i].year%></span>
					</div>
						
					<div class="mb-2">
							<span>Faculty In Charge:</span>
							<span><%= pendingBookings[i].charge %></span>
					</div>

					<div class="mb-2">
						<span>Purpose:</span>
						<span><%= pendingBookings[i].purpose %></span>
					</div>

					<div class="mb-2">
						<span>Auditorium:</span>
						<span><%= pendingBookings[i].audi %></span>
					</div>
						
					<div class="mb-2">
							<span>Time slot:</span>
							<span><%= pendingBookings[i].duration %></span>
					</div>
					
					<div class="mb-2">
							<span>Status:</span>
							
							<% if(pendingBookings[i].status == "pending") { %>
								<span class="text-pending">Your booking request hasn't been processed yet.</span>
							<% } else if(pendingBookings[i].status == "rejected") { %>
								<span class="text-rejected">Your booking request has been rejected.</span>
							<% } else if(pendingBookings[i].status == "accepted") { %>
								<span class="text-accepted">Your booking request has been accepted.</span>
							<% } %>
					</div>
					<br>	
						<% if(pendingBookings[i].status == "rejected") { %>
							
								<a class="btn" href="/faculty/bookings/deleteRejected/<%= pendingBookings[i]._id %>">Okay</a>
						
						<% } %>	
						<hr style="width: 100%; color: #000;border: dashed 1px;">
				<% } %>
				<br>	
	</div>
	</main>
	
